/* General */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
  --bg-color: #262322; /* match header/nav/footer */
  --text-color: #F2E5D7;
  --text-muted: #C2B4B4;
  --timeline-line-color: #F2E5D7; /* visible line color */
}

body {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #534e46;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url('../assets/mosaic.webp');
    background-size: 25%;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.25; 
    z-index: -1;
    pointer-events: none;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.logo {
    color: #F2E5D7;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #F2E5D7;
}

/* Transitions */

a, .btn {
    transition: all 300ms ease;
}

.Page_Content {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.Page_Content.page-visible {
    opacity: 1;
    transform: translateX(0);
}


/* Scrollbar track */
 ::-webkit-scrollbar {
    display: none;
}

#custom-scrollbar {
  position: fixed;
  top: 0;
  right: 3px;
  width: 8px;
  height: 100vh;
  background: rgba(0,0,0,0); 
  z-index: 10000;               
  pointer-events: auto;          
}

#custom-scrollbar-thumb {
  position: absolute;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,0.5);
  border-radius: 6px;
  cursor: pointer;
  pointer-events: auto;
}

/* For keyboard focus */
#custom-scrollbar-thumb:hover {
    outline: 2px solid #000;
}

#scroll-container {
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}


/* Desktop Navigation */

nav, .nav-links {
display: flex;
}

#desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    position: fixed;
    background-color: #262322;
    max-width: 100vw; 
    z-index: 1;
    padding: 0 2.5vw;
    box-sizing: border-box;
    overflow-x: hidden; 
    padding-right: 2vw;
    width: 100%;
}

#hamburger-nav {
    background-color: #262322;
    z-index: 1;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 1.3vw;
    gap: 1.5vw;
    white-space: nowrap;
    margin: 0;  
    padding: 0;
}

a {
    color: #F2E5D7; 
    text-decoration: none;
    text-decoration-color: #F2E5D7;
    transition: 300ms ease;
}

a:hover {
    color: #7C886D;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #7C886D;
    transition: 300ms ease;
}

.logo_container {
    display: flex;
    align-items: center;
    gap: 0.75vw; /* space between logo and name */
    text-decoration: none;
}

.logo_img {
    height: 4vw; 
    width: auto;
}

.logo_text {
    font-size: 2vw;
    white-space: nowrap;
    color: #F2E5D7;
    text-decoration: none;
}

.logo_text:hover {
    color: #7C886D;
    text-decoration: none;
}

.links {
    color:#C2B4B4;
}


/* Hamburger Menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    margin-top: 2.5vh;
    top: 50%;
    right: 5vw; 
    transform: translateY(-50%); 
    font-size: 5vw;
    cursor: pointer;
    z-index: 11001;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: relative;
    z-index: 11001;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #F2E5D7;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Overlay */
.hamburger-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 9999;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    z-index: 11002;
}

.close-btn span {
    width: 100%;
    height: 2px;
    background-color: #F2E5D7;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.close-btn span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.close-btn span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}


.hamburger-menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

.hamburger-menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%;
    text-align: center;
}


.hamburger-menu-links li {
    opacity: 0;
    transform: translateY(20px);
    font-size: 4vh;
    padding: 1.25vh;
    color: #F2E5D7;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    width: 100%;
    text-align: center;
}

.hamburger-menu-overlay.active .hamburger-menu-links li {
    opacity: 1;
    transform: translateY(0);
}

.hamburger-menu-overlay.active .hamburger-menu-links li:nth-child(1) {
    transition-delay: 0.2s;
}
.hamburger-menu-overlay.active .hamburger-menu-links li:nth-child(2) {
    transition-delay: 0.4s;
}
.hamburger-menu-overlay.active .hamburger-menu-links li:nth-child(3) {
    transition-delay: 0.6s;
}
.hamburger-menu-overlay.active .hamburger-menu-links li:nth-child(4) {
    transition-delay: 0.8s;
}
.hamburger-menu-overlay.active .hamburger-menu-links li:nth-child(5) {
    transition-delay: 1s;
}
.hamburger-menu-overlay.active .hamburger-menu-links li:nth-child(6) {
    transition-delay: 1.2s;
}

.hamburger-logo {
    width: 100px;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    margin-top: 2vh; 
}

.hamburger-menu-overlay.active .hamburger-logo {
    opacity: 1;
    transition-delay: 1.4s;
}


/* Sections */

section {
    padding-top: 4vh;
    padding-bottom: 0.1rem;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-contatiner {
    display: flex;
}

/* Profile */

#profile {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 45vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../assets/Header_Updated_03012023_1145.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #262322;
}

.title {
    font-size: 3vw;
    color: #F2E5D7;
    text-align: center;
}



/* Buttons */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1.5vh;
}

.btn {
    font-weight: 500vw;
    font-size: 1rem;
    font-family: Outfit;
    transition: all 300ms ease;
    padding: 1vw;
    width:15vw;
    border-radius: 2vw;
    border: #262322 0.1rem solid;
    background: #ABB3A0;
    color: #262322;
}


.btn:hover{
    cursor: pointer;
    background:#7C886D;
}

.btn-container {
    gap: 1rem;
}

/* Home Page Brief Info */

.brief-intro{
    background-color: #262322;
}

.brief-boxes {
    display: grid;
    grid-template-columns: 33% 66%;
    align-items: flex-start; 
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
  
.brief-image {
    flex: 1;
    max-width: 100%;
    scale: calc(125%);
    padding-left: 3vw;
    padding-bottom: 3vw;
    transform: scaleX(-1);
}
  
.brief-image img {
    width: 17.5vw;
    height: auto;
    display: block;
    border-radius: 12.5%;
}
  
.brief-text p{
    margin: 1vw;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 1.45rem;
    text-align: center;
}

.brief-text h1 {
    font-size: 3rem;
}

/* Other Page Briefs */
.pagebrief h1{
    padding-top: 0.75vh;
}

.pagebrief h2{
    padding: 2.5vh;
    color: #F2E5D7;
    font-size: 1.75vw;             
    line-height: 1.1;
    text-align: center;
}

.pagebrief p{
    font-size: 1.25vw;
    margin: 0 10rem;
    padding-bottom: 4vh;
    padding-top: 2vh;
}

/* Recent Projects */

#recent-projects {
    padding-top: 2vw;
    padding-bottom: 4vw;
}

.recent-projects-header-text {
    text-align: center;
    font-size: 1.5vw;
}

.recent-project-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    margin-top: 2vw;
}

.recent-project-parent a{
    text-decoration: none;
    display: block;
}

.project-title {
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius: 12.5%;
    background:rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    opacity: 0;
    color: #F2E5D7;
    font-size: 2vw;
    font-weight:500;
    transition: 300ms;
    text-align: center;
}

/* Project Animations */
.animated_box {
    aspect-ratio: 1/1;
    width: 100%;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    opacity: 0;
}

@keyframes rotateLeftRight {
    0% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(-4deg);
    }
}

.rotate_me {
    animation: rotateLeftRight 6s infinite ease-in-out;
    transform-origin: center; 
    display: block;
    width: 100px; 
}



/* Recent Project Displays */

.box1, .box2, .box3, .box4, .box5, .box6 {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12.5%;
    cursor: pointer;
    transition: 300ms;
    background-size: cover; 
    background-position: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15),
                0 16px 40px rgba(0, 0, 0, 0.05);
}


/* 1 */ .box1 {
    background-image: url(../assets/general/RESTSTOP_Rebrand_Project/Thumbnail.jpg);       /* Update Here */
}
/* 2 */ .box2 {
    background-image: url(../assets/client/MozartPoster/Thumbnail.jpg);       /* Update Here */
}
/* 3 */ .box3 {
    background-image: url(../assets/general/MedSlidePosters/Thumbnail.jpg);       /* Update Here */
    background-size:cover;
    background-repeat: no-repeat;
}
/* 4 */ .box4 {
    background-image: url(../assets/client/LEGO_TalentPool_25/Thumbnail.jpg);       /* Update Here */
    background-size: cover;
    background-repeat: no-repeat;
}
/* 5 */ .box5 {
    background-image: url(../assets/lego/Brickheadz_Moira/Thumbnail.jpg);       /* Update Here */
    background-size: cover;
    background-repeat: no-repeat;
}
/* 6 */ .box6 {
    background-image: url(../assets/film/WhereWeAre/Thumbnail.gif);       /* Update Here */
    background-size: cover;
    background-repeat: no-repeat;
}


/* Project Page Main Code */
.page_title, .mainpage_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 5vh; 
    z-index: 0;
}
.page_title h1, .mainpage_title h1 {
    color: #F2E5D7;
    font-size: 5vw;             
    line-height: 1.1;
    margin: 0;
    padding: 0;         
}
.mainpage_title h1 {
    font-size: 6vw;
}
#projectinfo {
    font-size: 1.25vw;
    color: #F2E5D7;
}
.projectcopy p{
    color: #F2E5D7;
    padding-bottom:1rem;
}
.projectcopy a{
    color:#C2B4B4;
    text-decoration: none;
}
.projectcopy a:hover{
    color:#A1AB96;
}
.projectcopy h1{
    font-size: 3vw;
    color: #F2E5D7;
    text-align: center;
}
.projectcopy img{
    max-width: 80%;
    max-height: 80%;    
    padding: 2vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: block;
    transition: 300ms;
}
.projectcopy img:hover {
    transform: scale(1.05);
    transition: 300ms;
    cursor: pointer;
}
.projectcopy table {
    width: 84%;
    border-collapse: separate;    
    border-spacing: 2rem 1rem;        
    table-layout: auto;          
    margin: auto;
}
.projectcopy td {
    text-align: center;
    vertical-align: middle;
}
.projectcopy td img {
    width: 100%;
    max-width: 700px;       
    height: auto;
    display: block;
    margin: 0;   
    padding: 0;        
    transition: transform 300ms;
}
.projectcopy td img:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.projectcopy ul {
  list-style-type: none;
  padding-bottom: 1rem;
  margin: 0;
}
.projectcopy li {
  margin-bottom: 1.5em;
}
.projectcopy li b {
  display: block;           
  font-size: 1.2em;        
  font-weight: 700;        
  margin-bottom: 0.25em;    
}

.note {
    font-size: 1.25rem;
}

/*Project Carousel*/
.project-slideshow {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 2rem 0;
    padding-bottom: 1.3rem;
    margin-bottom: 0rem;
}
.carousel-container {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
.carousel-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(20px) brightness(0.4);
  transition: background-image 0.6s ease-in-out;
  z-index: 0;
}
.carousel-slide {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.carousel-slide img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: contain;
}
.carousel-slide img:hover {
  cursor:pointer;
}
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: #F2E5D7;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  transition: ease 300ms;
}
.carousel-btn:hover {
  background: rgba(0,0,0,0.7);
  color: #7C886D;
  transition: ease 300ms;
}
.prev { left: 1rem; }
.next { right: 1rem; }
.carousel-toggle {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #F2E5D7;
  background: none;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  border-radius: 0.5rem;
  z-index: 2;
}
.carousel-toggle:hover {
  background: rgba(0,0,0,0.7);
  color: #7C886D;
  transition: ease 300ms;
}



/* Project Page */
#projectpage {                                               /* Background Image */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    overflow: hidden;
    margin: 0;
}
#allprojects {
    padding-top: 2vw;
    padding-bottom: 4vw;
}
.allprojects-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    margin-top: 2vw;
}
.allprojects-parent a{
    text-decoration: none;
}
/* Projects Boxes */
.project1, .project2, .project3, .project4, .project5, .project6, 
.project7, .project8, .project9, .project10, .project11, .project12,
.project13, .project14, .project15, .project16, .project17, .project18,
.project19, .project20, .project21, .project22{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12.5%;
    cursor: pointer;
    transition: 300ms;
    background-size: cover; 
    background-position: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15),
                0 16px 40px rgba(0, 0, 0, 0.05);
}


    /* 1 */
    .project1 {
        background-image: url(../assets/general/STAX/STAXLogo.gif);       /* Update Here */
        background-size: cover;
        background-position: 60% center;
    }
    /* STAX */
    #stax {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/STAX/STAXLogo.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 10%;
    }
    

    /* 2 */ 
    .project2 {
        background-image: url(../assets/general/OmoriCards/Thumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    /* Omori Playing Cards */
    #omori_cards {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/OmoriCards/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    
    /* 3 */ 
    .project3 {
        background-image: url(../assets/general/DoggieDayzzz/Thumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    /* Doggie Dayzzz */
    #doggiedayzzz {                                               /* Background Image */
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/DoggieDayzzz/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 4 */
    .project4 {
        background-image: url(../assets/general/HolidayCards/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* Holiday Cards */
    #holiday_cards {                                               /* Background Image */
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/HolidayCards/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 5 */ 
    .project5 {
        background-image: url(../assets/general/LittleSouls/Thumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    /* Little Souls */
    #little_souls {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/LittleSouls/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 6 */ 
    .project6 {
        background-image: url(../assets/general/Munch_Brochure/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* Brochure Page */
    #brochure {                                               /* Background Image */
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/Munch_Brochure/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 7 */ 
    .project7 {
        background-image: url(../assets/general/Apple_StillLife/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* Apple Still Life */
    #apples {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/Apple_StillLife/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 8 */ 
    .project8 {
        background-image: url(../assets/general/CatMagazine_Layout/Thumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    /* Magazine Layout */
    #magazinepages {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/CatMagazine_Layout/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 9 */ 
    .project9 {
        background-image: url(../assets/general/Calender/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* Calender */
    #calender {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/Calender/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    .CalenderPages{
        transform: rotate(90deg);
    }
    .CalenderPages:hover{
        transform: scale(1.05) rotate(0deg);
        transition: 300ms;
    }


    /* 10 */ 
    .project10 {
        background-image: url(../assets/general/1Fish/Update2.jpg);       /* Update Here */
        background-size: cover;
    }
    /* 1Fish */
    #OneFish {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/1Fish/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 11 */ 
    .project11 {
        background-image: url(../assets/general/Planty/Thumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    /* Planty Page */
    #planty {                                               /* Background Image */
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/Planty/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 12 */
    .project12 {
        background-image: url(../assets/general/CocoCritters/Thumbnail.jpg);      /* Update Here */
        background-size: cover;
    }
    /* CoCoCritters */
    #cococritters {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/CoCoCritters/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 13 */ 
    .project13 {
        background-image: url(../assets/general/Cookbook/Thumbnail.jpg);      /* Update Here */
        background-size: cover;
    }
    /* Cookbook Pages */
    #cookbook {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/Cookbook/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 14 */
    .project14 {
        background-image: url(../assets/general/BerryBlue/BerryBluePoster.jpg);      /* Update Here */
        background-size: cover;
    }
    /* Berryblue Poster Page */
    #berryblue_poster {                                               /* Background Image */
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/BerryBlue/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 15 */ .project15 {
        background-image: url(../assets/general/DBD_Posters/Thumbnail.jpg);      /* Update Here */
        background-size: cover;
    }
    /* Dead By Daylight Poster Collection */
    #dbd_posters {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/DBD_Posters/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 16 */ 
    .project16 {
        background-image: url(../assets/general/VTSUnity/Thumbnail.jpg);      /* Update Here */
        background-size: cover;
    }
    /* VTSUnity Poster */
    #vtsunity_poster {                                               /* Background Image */
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/VTSUnity/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 17 */ 
    .project17 {
        background-image: url(../assets/general/ContentLab/Thumbnail.jpg);     /* Update Here */
        background-size: cover;
    }
    /* Content Lab */
    #content_lab {                                               /* Background Image */
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/ContentLab/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 18 */ 
    .project18 {
        background-image: url(../assets/general/ColorTheoryPosters/Thumbnail.jpg);      /* Update Here */
        background-size: cover;
    }
    /* Color Theory Posters */
    #colortheoryposters {
        background-image: url(../assets/general/ColorTheoryPosters/Header.jpg);
        display: flex;          
        justify-content: center; 
        align-items: center;     
        gap: 5rem;
        height: 30vw;           
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        flex-direction: column; 
    }


    /* 19 */ 
    .project19 {
        background-image: url(../assets/general/Cuppys/Thumbnail.png);      /* Update Here */
        background-size: cover;
    }
    /* Cuppy's */
    #cuppys {
        background-image: url(../assets/general/Cuppys/Header.jpg);
        display: flex;          
        justify-content: center; 
        align-items: center;     
        gap: 5rem;
        height: 30vw;           
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        flex-direction: column; 
    }


    /* 20 */ 
    .project20 {
        background-image: url(../assets/general/MedSlidePosters/Thumbnail.jpg);      /* Update Here */
        background-size: cover;
    }
    /* Medical Slide Posters */
    #med_slide_posters {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/MedSlidePosters/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 21 */
    .project21 {
        background-image: url(../assets/general/RESTSTOP_Rebrand_Project/Thumbnail.jpg);      /* Update Here */
        background-size: cover;
    }
    /* REST STOP REBRAND PROJECT */
    #reststop_project {                                               /* Background Image */
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/RESTSTOP_Rebrand_Project/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 22 */
    .project22 {
        background-image: url(../assets/general/Misc_Apparel/Thumbnail.jpg);      /* Update Here */
        background-size: cover;
    }
    /* Christmas '25 Gifts! */
    #Christmas25 {                                               /* Background Image */
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/general/Misc_Apparel/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


/* Client Work Page */
#clientworkpage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    overflow: hidden;
    margin: 0;
}
#Header_Video {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
#clientwork {
    padding-top: 2vw;
    padding-bottom: 4vw;
}
.clientwork-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    margin-top: 2vw;
}
.clientwork-parent a{
    text-decoration: none;
}
/* Client Work Boxes */
.client1, .client2, .client3, .client4, .client5, .client6, .client7 {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12.5%;
    cursor: pointer;
    transition: 300ms;
    background-size: cover; 
    background-position: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15),
                0 16px 40px rgba(0, 0, 0, 0.05);
}


    /* 1 */ 
    .client1 {
        background-image: url(../assets/client/StudentVoterDrive/Thumbnail.png);       /* Update Here */
        background-size: contain;
    }
    /* Student Voter Drive */
    #student_voter_drive {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/client/StudentVoterDrive/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 2 */ 
    .client2 {
        background-image: url(../assets/client/VTSU_Wellness/Thumbnail.png);       /* Update Here */
        background-size: contain;
    }
    /* VTSU Wellness Center */
    #vtsu_wellness {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/client/VTSU_Wellness/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 3 */ 
    .client3 {
        background-image: url(../assets/client/Hamlet/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* Hamlet Posters */
    #hamlet_poster {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/client/Hamlet/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 4 */ 
    .client4 {
        background-image: url(../assets/client/SustainabilityTeam_EarthDay/Thumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    /* Earth Day Poster */
    #earthday25 {
        background-image: url(../assets/client/SustainabilityTeam_EarthDay/Header.jpg);
        display: flex;          
        justify-content: center; 
        align-items: center;     
        gap: 5rem;
        height: 30vw;           
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        flex-direction: column; 
    }

    
    /* 5 */ 
    .client5 {
        background-image: url(../assets/client/MozartPoster/Thumbnail.jpg);       /* Update Here */       /* Update Here */
        background-size: contain;
    }
    /* Mozart Poster */
    #MozartRequiem {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/client/MozartPoster/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 6 */ 
    .client6 {
        background-image: url(../assets/client/FCPR/Thumbnail.jpg);       /* Update Here */       /* Update Here */
        background-size: contain;
    }
    /* Friends of Castleton Parks & Rec */
    #fcpr {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/client/FCPR/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 7 */ 
    .client7 {
        background-image: url(../assets/client/LEGO_TalentPool_25/Thumbnail.jpg);       /* Update Here */       /* Update Here */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }    
    /* LEGO Group Assignment */
        #LEGO_Group_Assignment {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/client/LEGO_TalentPool_25/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }



/* Lego Projects Page */
#legopage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    overflow: hidden;
    margin: 0;
}
#legoprojects {
    padding-top: 2vw;
    padding-bottom: 4vw;
}
.lego-projects-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    margin-top: 2vw;
}
.lego-projects-parent a{
    text-decoration: none;
}

/* Lego Projects */
.LegoProject_Copy p{
    padding-bottom:1rem;
}

.LegoProject_Copy a{
    color:#C2B4B4;
}
.LegoProject_Copy a:hover{
    color:#7C886D;
    text-decoration: none;
}
 .LegoProject_Copy img{
    max-width: 55%;
    max-height: 55%;
    display: flex;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    margin: auto;
    margin-bottom: 1vw;
    transition: 300ms;
}
 .LegoProject_Copy img:hover {
    transform: scale(1.05);
    transition: 300ms;
} 
.lego-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.lego-grid img {
    width: calc(50% - 2vw); /* 2 per row with spacing */
    height: auto;
    transition: 300ms;
}
.lego-grid img:hover {
    transform: scale(1.05);
}
/* Render Parent */
.LegoProject_Renders {
    padding: 2vw;
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
}
.LegoProject_Renders .title{
    margin-bottom: 1vw;
}
/* Render Gif */
.LEGO_grid__gif_row {
    margin-bottom: 2vw;
}
.LEGO_grid__gif_row img {
    width: 100%;
    height: auto;
    transition: 300ms ease;
}
.LEGO_grid__gif_row img:hover {
    transform: scale(1.05);
}
/* Row of 2 */
.LEGO_grid__2row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2vw;
}
.LEGO_grid__2row_LEFT,
.LEGO_grid__2row_RIGHT {
    width: 50%;
    height: auto;
}
.LEGO_grid__2row_LEFT {
    padding-right: 1vw; 
    box-sizing: border-box;
    transition: 300ms ease;
}
.LEGO_grid__2row_RIGHT {
    padding-left: 1vw; 
    box-sizing: border-box;
    transition: 300ms ease;
}
.LEGO_grid__2row img:hover {
  transform: scale(1.05);
}
/* Row of 3 */
.LEGO_grid__3row {
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    margin-bottom: 2vw;
    margin-top:0;
}
.LEGO_grid__3row img {
    width: 100%;
    max-width: calc(33.33% - 1.34vw); 
    height: auto;
    transition: 300ms ease;
}
.LEGO_grid__3row img:hover {
    transform: scale(1.05);
}
.LEGO_grid__gif_row img, .LEGO_grid__3row img, .LEGO_grid__2row img {
    display: block;
}


/* Lego Project Boxes */
.lego1, .lego2, .lego3, .lego4, .lego5, .lego6, .lego7, .lego8, .lego9, .lego10, .lego11, .lego12, .lego13 {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 12.5%;
        cursor: pointer;
        transition: 300ms;
        background-size: cover; 
        background-position: center;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15),
                    0 16px 40px rgba(0, 0, 0, 0.05);
}


    /* 1 */ 
    .lego1 {
        background-image: url(../assets/lego/BillsArt/Thumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    /* Buffalo Bills Wall Art */
    #bills-art {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/lego/BillsArt/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 2 */ 
    .lego2 {
        background-image: url(../assets/lego/Minecraft_BeeHouse/Thumbnail.jpg);     /* Update Here */
        background-size: cover;
    }
    /* Bee House (Game Scale) */
    #bee-house {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/lego/Minecraft_BeeHouse/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 3 */ 
    .lego3 {
        background-image: url(../assets/lego/Minecraft_DesertWell/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* Desert Well */
    #desertwell {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/lego/Minecraft_DesertWell/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 4 */ 
    .lego4 {
        background-image: url(../assets/lego/Minecraft_TheBridge/Thumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    /* The Bridge */
    #the-bridge {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/lego/Minecraft_TheBridge/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    
    
    /* 5 */ 
    .lego5 {
        background-image: url(../assets/lego/Brickheadz_Astartion/Thumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    /* Astarion Brickheadz */
        #astarionbrickheadz {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/lego/Brickheadz_Astartion/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    
    /* 6 */ 
    .lego6 {
        background-image: url(../assets/lego/Minecraft_HouseDiorama/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* Minecraft House Diorama */
    #housediorama {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/lego/Minecraft_HouseDiorama/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    
    
    /* 7 */ 
    .lego7 {
        background-image: url(../assets/lego/Brickheadz_SableWard/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* Sable Ward Brickheadz */
    #SableWardLEGO {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/lego/Brickheadz_SableWard/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    
    
    /* 8 */ 
    .lego8 {
        background-image: url(../assets/lego/Brickheadz_Sombra/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* Sombra Brickheadz */
    #SombraLEGO {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/lego/Brickheadz_Sombra/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 9 */ 
    .lego9 {
        background-image: url(../assets/lego/Brickheadz_Moira/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* Moira Brickheadz */
    #MoiraLEGO {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/lego/Brickheadz_Moira/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 10 */ 
    .lego10 {
        background-image: url(../assets/lego/DeepSeaDiorama/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* Deep Sea Diorama */
    #SeaDiorama {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/lego/DeepSeaDiorama/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 11 */ 
    .lego11 {
        background-image: url(../assets/lego/DeepSeaCreatures/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* Deep Sea Creatures */
    #SeaCreatures {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/lego/DeepSeaCreatures/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    .creature-grid h2 {
        font-size: 2.5rem;
    }
    .creature-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 2rem;
        max-width: 1200px;
        margin: 3rem auto;
        padding: 0 1.5rem;
    }
    .creature-card {
        background: #262322;
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15),
                    0 16px 40px rgba(0, 0, 0, 0.05);
        text-align: left;
    }
    .creature-card p{
        font-size: 1.2rem;
        padding-bottom: 2vh;
    }
    .creature-card h2{
        color: #F2E5D7;
    }
    .creature-card img {
        display: block;
        max-width: 100%;
        border-radius: 8px;
        margin: 0 auto;
        margin-bottom: 1rem;
        transition: 300ms ease;
    }
    .creature-card img:hover {
        transform: scale(1.05);
    }
    .creature-links {
        list-style: none;
        display: flex;
        gap: 1rem; 
        font-size: 1.1rem; 
        padding-bottom: 1rem;
    }
    .creature-links li a {
        text-decoration: none;
        color: #C2B4B4;
        transition: color 0.3s ease;
    }
    .creature-links li a:hover {
        color: #7C886D;
    }
    .octo_colors{
        gap: 1rem; 
        font-size: 1.1rem; 
        padding-bottom: 1rem;
        padding-lefT: 1rem;
    }
    .octo_colors a{
        color: #C2B4B4;
    }
    .octo_colors a:hover{
        text-decoration: none;
        color: #7C886D;
    }


    /* 12 */ 
    .lego12 {
        background-image: url(../assets/lego/Chicken/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* Chicken */
    #ChickenLEGO {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/lego/Chicken/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 13 */ 
    .lego13 {
        background-image: url(../assets/lego/CurlworksFish/Thumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    /* CurlworksFish */
    #CurlworksFish {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/lego/CurlworksFish/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


/* FIlms Page */
#filmpage {                                               /* Background Image */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    overflow: hidden;
    margin: 0;
}
#films {
    padding-top: 2vw;
    padding-bottom: 4vw;
}
/* General Film Stuff */
.FilmFrames {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}
.FilmFrames iframe {
    width: 80%;     
    height: 54vw;   
    max-height: 540px;
    padding-bottom: 1rem;
}
/* Film Boxes*/
.film1, .film2, .film3, .film4{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12.5%;
    cursor: pointer;
    transition: 300ms;
    background-size: cover; 
    background-position: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15),
                0 16px 40px rgba(0, 0, 0, 0.05);
}


    /* 1 */ .film1 {
        background-image: url(../assets/film/DayIn60s/Thumbnail.gif);       /* Update Here */
        background-size: cover;
        background-position-x: center;
    }
    /* Day in 60 Seconds */
    #dayin60s {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/film/DayIn60s/Thumbnail.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    

    /* 2 */ .film2 {
        background-image: url(../assets/film/SelfReflection/Thumbnail.gif);       /* Update Here */
        background-size: cover;
        background-position-x: center;
    }
    /* Self Reflection */
    #selfReflection {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/film/SelfReflection/Thumbnail.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    .FilmFrames_SR {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
    }
    .FilmFrames_SR iframe {
        width: 80vw;    
        max-width: 960px;
        height: 54vw;   
        max-height: 540px;
    }


    /* 3 */ .film3 {
        background-image: url(../assets/film/CuppyHeader/Thumbnail.gif);       /* Update Here */
        background-size: cover;
        background-position-x: center;
    }
    /* Cuppy's Header */
    #CuppyHeader {
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/film/CuppyHeader/Thumbnail.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    /* 4 */ .film4 {
        background-image: url(../assets/film/WhereWeAre/Thumbnail.gif);       /* Update Here */
        background-size: cover;
        background-position-x: center;
    }
    /* Where We Are */
    #WhereWeAre {
        position: relative; 
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/film/WhereWeAre/WhereWeAreHeader.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        z-index: 0; 
    }
    #WhereWeAre::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.4; 
        z-index: 0;
    }
    #WhereWeAre > * {
        position: relative;
        z-index: 2;
    }


/* Image Enlargement Overlay */
.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s;
    z-index: 1000; 
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.overlay img {
    max-width: 80%;
    max-height: 80%;
}


/* About Me */
#about {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 30vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../assets/AboutMeHeader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.about_copy {
  font-size: 1.25vw;
  color: #F2E5D7;
  padding: 4vh 10rem 0 10rem;
  height: 40vh;
  line-height: 1.5;
}

/* Contact Section */
.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.social-icon {
  font-size: 2.5rem;
  color: #F2E5D7;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #7C886D;
}

.resume-link p {
  padding: 10vh 0;
  font-size: 1.5vw;
  text-align: center;
}

.resume-link a {
  color: #C2B4B4;
  font-weight: 600;
  text-decoration: none;
}

.resume-link a:hover {
  color: #7C886D;
}

/* Form */
.contact-form {
  padding: 2vw 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
  box-sizing: border-box;
}

.contact-form label {
  color: #F2E5D7;
  margin-bottom: 0.5rem;
  font-size: 2.5vh;
  width: 100%;
}

.contact-form .heading {
  font-size: 2.5vw;
  color: #F2E5D7;
  margin-bottom: 0.25vw;
  font-weight: 550;
  text-align: center;
  display: block;
}

.contact-form h1 {
  font-size: 3.5vw;
  text-align: center;
  padding-bottom: 1vh;
  margin: 0;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-family: 'Outfit', sans-serif;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #F2E5D7;
  color: #000000;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  font-size: 1rem;
  resize: none;
}

.contact-form textarea {
  height: 100px; /* fixed height for better UX */
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #E5DFE5;
  transform: scale(1.05);
}

.contact-form button[type="submit"] {
  background-color: #F2E5D7;
  color: #262322;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  transition: transform 0.3s ease;
  align-self: center;
  width: auto;
  min-width: 120px;
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.1);
}

/* Timeline */
.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 4rem auto;
  padding: 2rem 0;
}

/* Line */
.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: var(--timeline-line-color);
  transform: translateX(-50%);
  border-radius: 999px;
}

.timeline-item {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  align-items: center;
  width: 100%;
  position: relative;
  min-height: 100px;
  transition: transform 300ms ease;
}

.timeline-item:hover {
  transform: scale(1.05);
}

/* Left */
.timeline-item.left .content {
  grid-column: 1;
  justify-self: end;
  text-align: right;
}

.timeline-item.left .content li {
  color: var(--text-color);
  font-weight: 100;
  font-size: small; 
  margin: 0.4rem 0.5rem;
  text-align: right;
  direction: rtl;
}

/* Right */
.timeline-item.right .content {
  grid-column: 3;
  justify-self: start;
  text-align: left;
}

.timeline-item.right .content li {
  color: var(--text-color);
  font-weight: 100;
  font-size: small;
  margin: 0.4rem 0.5rem;
  text-align: left;
  direction: ltr;
}

/* Timeline Content Styling */
.content {
  background: var(--bg-color);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  align-self: center;
}

.content h1 {
  margin: 0 0 0.1rem 0;
  font-size: 1.25rem;
  color: var(--text-color);
}

.content h3 {
  margin: 0 0 0.3rem 0;
  font-weight: 300;
  font-size: 0.85rem;
  color: var(--text-muted);
}

/* Collapsible details */
.timeline_item_details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.timeline_item_details.open {
  max-height: 500px;
  opacity: 1;
}

/* Toggle button */
.timeline_toggle_btn {
  background: none;
  border: none;
  color: var(--timeline-line-color);
  font-family: inherit; 
  font-size: inherit; 
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding: 0;
  transition: ease 300ms;
}

.timeline_toggle_btn:hover {
  color:#7C886D;
  transition: ease 300ms;
}

.timeline_item_details ul {
  padding-right: 0.25rem;
  padding-left: 0.25rem; 
  list-style-position: outside;     
  list-style-type: disc;
}

/* Dots */
.timeline-item .dot {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background: var(--timeline-line-color);
  border-radius: 50%;
}



/* Footer */

footer{
    background-color:#262322;
}

.footer-container{
    width: 100%;
    margin:auto;
    background-color:#262322;
    padding-top: 3vh;
    text-align: center; 
}

.socialIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socialIcons a {
    text-decoration: none;
    background-color: #F2E5D7;
    margin: 0.75rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.socialIcons a i {
    font-size: 2rem;
    color: #262322;
    opacity: 1;
}

.socialIcons a:hover {
    background-color: #7C886D;
    transition: 300ms;
}

.footerNav{
    margin: 1vw;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footerNav ul li a {
    color: #F2E5D7;
    text-decoration: none;
    font-size: 1vw;
    transition: 300ms;
}

.footerNav ul li a:hover {
    color: #7C886D;
    opacity: 1;
    transition: 300ms;
}

.footer_img {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
    padding-bottom: 1vh;
}

.footerBottom{
    background-color: #262322;
    padding-bottom: 1vw;
    text-align: center;
}

.footerBottom p{
    color: #F2E5D7;
    font-size: 0.75vw;
}

.footerBottom a {
  text-decoration: none;
  transition: color 0.3s ease;
  outline: none; 
  font-style: italic;
}

.footerBottom a:hover,
.footerBottom a:focus {
  color: #7C886D;
  outline: none; 
}