/* Projects Boxes */
.project1, .project2, .project3{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12.5%;
    cursor: pointer;
    transition: 300ms;
    background-size: cover; 
    background-position: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15),
                0 16px 40px rgba(0, 0, 0, 0.05);
}

/* 1 */
.project1 {
    background-image: url(../../assets/Client/ContentLab/FCPR/Thumbnail.jpg);       /* Update Here */       /* Update Here */
    background-size: contain;
}
/* Friends of Castleton Parks & Rec */
#fcpr {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../assets/Client/ContentLab/FCPR/Header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* 2 */
.project2 {
    background-image: url(../../assets/Client/ContentLab/StudentVoterDrive/Thumbnail.png);       /* Update Here */
    background-size: contain;
}
/* Student Voter Drive */
#student_voter_drive {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../assets/client/ContentLab/StudentVoterDrive/Header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* 3 */
.project3 {
    background-image: url(../../assets/Client/ContentLab/ContentLab/Thumbnail.jpg);     /* Update Here */
    background-size: cover;
}
/* Content Lab */
#content_lab {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../assets/Client/ContentLab/ContentLab/Header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}