/* Projects Boxes */
.project1, .project2, .project3, .project4{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12.5%;
    cursor: pointer;
    transition: 300ms;
    background-size: cover; 
    background-position: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15),
                0 16px 40px rgba(0, 0, 0, 0.05);
}


    /* 1 */ 
    .project1 {
        background-image: url(../../assets/LEGO/Minecraft/Minecraft_ZombieDungeon/Thumbnail.gif);       /* Update Here */
        background-size: cover;
    }