@media screen and (max-width: 800px) {
    #desktop-nav {
        display: none;
        visibility: collapse;
    }

    #hamburger-nav {
        display: flex;
        justify-content: space-between; /* Keeps logo and menu in place */
        align-items: center;
        padding: 2vw 4vw;
        width: 100%; /* Ensures full-width navbar */
        height: 13vw; /* Adjust height to avoid cutting */
        color: #F2E5D7;
        box-sizing: border-box; /* Prevents overflow from padding */
        position: relative;
    }

    .logo {
        font-size: 5vw;
        padding-right: 5vw;
        white-space: nowrap; /* Prevents text from breaking */
    }

    /*Text*/

    .brief-intro {
        flex-direction: column;
        text-align: center;
    }
    .brief-image, .brief-text {
        max-width: 100%;
    }

    .brief-text h1{
        padding-right:1.5vh;
    }
    .brief-text p{
        font-size: 2.75vw;
        padding:1.5rem;
        padding-top:0;
        padding-right: calc(1.5rem + 1.5vh);
        word-wrap: break-word;
        word-break: break-word;  
    }


/* Projects */
    #projectinfo {
        padding: 3vw;
        margin: 0 auto;
        height: 50vw;
    }

    .page_title{
        margin-top:0;
    }

    .page_title h1{
        font-size: 7.5vw;
        margin-top: none;
    }

    .projectcopy {
        font-size: 3vw;
        line-height: 1.5;
    }
    .projectcopy h1{
        font-size: 7.5vw;
        text-align: center;
    }
    .projectcopy img{
        max-width: 75%;
        max-height: 75%;    
        padding: 2vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10vw;
        display: block;
        transition: 300ms;
    }

/* Main Page Extenders */
    .home_ME {
        height: 9vh;
    }
    .projects_ME {
        height: 6vh;
    }
    .clients_ME {
        height: 56vh;
    }
    .lego_ME {
        height: 43.5vh;
    }



/*DBD Posters */
    .DBD_Posters {
        padding-top: 1vh;
        height: 55vh;
    }
    .DBD_Posters img{
        max-width: 75%;
        max-height: 75%;
        padding-top: 2.25vw;
        margin-bottom: 0vw;
        transition: 300ms;
    }




/* Planty */
    .plantycopy {
        font-size: 3vw;
        line-height: 1.5;
    }

    .plantycopy h1{
        font-size:7.5vw;
        text-align:center;
    }



/* Magazine Pages */
    .magazinecopy {
        font-size: 3vw;
        line-height: 1.5;
    }
    .magazinecopy h1{
        font-size:7.5vw;
        text-align:center;
        padding-bottom: 0.25vh;
    }
    .magazineimg2 {
        height: 50vw;
        padding-bottom: 0vh;
        margin-bottom: 0vh;
        height: 18vh;
    }
    .magazineimg2 img {
        padding-top: 2vh;
        padding-bottom: 0vh;
        margin-bottom: 0vh;
        scale: calc(120%);
    }
    .CatMagazine_Mockup h1{
        font-size:7.5vw;
        padding-top: 0vh;
        margin-top: 0vh;
        text-align:center;
    }
    .CatMagazine_Mockup img {
        padding-top: 3.25vh;
        scale: calc(120%);
        padding-bottom: 5vh;
    }



/* Brochure */
    .MunchBrochure_Mockup h1{
        font-size:7.5vw;
        text-align:center;
        padding-bottom: 0.25vh;
    }


/* Little Souls */
    .mobile-filler {
        height: 29.75vw;
    }



/* Hamlet */
    .hamletcopy {
        font-size: 3vw;
        line-height: 1.5;
    }

    .hamletcopy h1{
        font-size:7.5vw;
        text-align:center;
    }



/* Cookbook */
    .CookBookPages table{
        padding-top: 5vh;
    }
    .CookbookPages img{
        max-width: 85%;
        max-height: 85%;
    }



/* CoCoCritters */
    .Coco_Package h1{
        font-size:7.5vw;
        padding-top: 0.5vh;
        padding-bottom: 1.25vh;
    }
    .Coco_Render h1{
        font-size:7.5vw;
        padding-top: 0.5vh;
        padding-bottom: 1.25vh;
    }
    .Coco_Ads h1{
        font-size:7.5vw;
        padding-top: 0.5vh;
        padding-bottom: 1.25vh;
    }
    .CoCoCritters_Mockup h1{
        font-size:7.5vw;
        padding-top: 6.5vh;
        padding-bottom: 1.25vh;
    }
    .Coco_ME {
        height: 8vh;
    }


/* Holiday Cards */
    .holidaycards_copy {
        font-size: 3vw;
        line-height: 1.5;
        padding-bottom: 1vh;
    }
    .holidaycard_roughs h1{
        font-size:7.5vw;
        padding-top: 1vh;
        padding-bottom: 1.25vh;
    }
    .holidaycards_copy img {
        height: 70%;
        width: 70%;
        padding-top: 2vh;
        padding-bottom: 2.5vh;
    }
    .holidaycard_roughs img{
        padding-bottom: 2vh;
    }


/* Apples */
    .apples_ME {
        height: 36vh;
    }
    .Apples h1{
        font-size:5.5vw;
        text-align:center;
        padding-bottom: 0.25vh;
        padding-top: 1vh;
    }


/* OMORI Cards */
    .OMORIcards1 {
        padding-top: 2vw;
    }
    .OMORIcards2 tr {
        height: 15vh;
    }


/* STAX */
    .stax_ME {
        height: 34.5vh;
    }    

/* VTSUnity */
    .vtsunity_ME {
        height: 15vh;
    }


/* SusTeam */
    #earthday25 {
        background-position: center;
        background-size: 112%;
    }

    .earthday25_copy, .earthday25_copy2 {
        font-size: 3vw;
        line-height: 1.5;
        padding: 0vh;
        margin: 0vh;
    }

    .earthday25_copy img, .earthday25_copy2 img{
        scale: calc(120%);
    }
    .earthday25_copy img {
        padding: 3vh;
    }
    .earthday25_copy2 img {
        padding: 5vh;
    }

/* VTSU Wellness */
    .wellness-copy {
        font-size: 3vw;
        line-height: 1.5;
    }
    .wellness-copy h1{
        font-size:7.5vw;
        text-align:center;
    }



/* Student Voter Drive */
    .VTSU_VoterDrive1 p{
        font-size: 3vw;
        line-height: 1.5;
    }
    .VTSU_VoterDrive2 p{
        font-size: 3vw;
        line-height: 1.5;
    }



/* Lego Projects */
    .LegoProject_Copy P{
        font-size: 3vw;
        line-height: 1.5;
    }
    .LegoProject_Copy h1{
        font-size:7.5vw;
        text-align:center;
    }
    .LegoProject_Photos h1{
        font-size:7.5vw;
        text-align:center;
    }
    .LegoProject_Copy img, .LegoProject_Photos img {
        padding-top: 1vh;
        padding-bottom: 2vh;
    }

    .BuffaloBills_ME {
        height: 8vh;
    }

/* About Me */
    .about_copy {
        padding: 2vh;
        font-size: 3vw;
        line-height: 1.5;
        height: 50vh;
    }

    .contact-form h1{
        font-size:7.5vw;
        text-align:center;
        padding-bottom: 1vh;
    }

    .contact-form{
        padding-bottom: 3vh;
        align-content: center;
    }
    
    .contact-form input {
        width: 100%
    }
    .contact-form textarea {
        width: 100%
    }
    .contact-form button {
        width: 100%;
    }
    

/* Footer Adjustmnets */
    .socialIcons{
        display: flex;
        justify-content: center;
    }
    .socialIcons a{
        height: 5vw;    
        width: 5vw;
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 2vw;
    }
    .socialIcons a i{
      height: 2vw;
      width: 2vw;
      font-size: 3vw;
      padding-top: 1vw;
      padding-right: 1.5vw;
    }
    .footerNav ul li a{
        font-size: 2vw;
    }
    .footerBottom {
        padding: 1vw;
    }
    .footerBottom p{
        font-size: 1.25vw;
    }
}
