/* General */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #534e46;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.logo {
    color: #F2E5D7;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #F2E5D7;
}

/* Transition */

a, .btn {
    transition: all 300ms ease;
}

/* Desktop Navigation */

nav, .nav-links {
display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    position: fixed;
    background-color: #262322;
    max-width: 100vw; /* Ensure it never overflows */
    z-index: 1;
    padding: 0 2.5vw;
    box-sizing: border-box;
    overflow-x: hidden; /* hide any overflow if it happens */
    padding-right: 2vw;
    width: calc(100% - 20px); /* Adjust as needed */
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 1.3vw;
    gap: 1.5vw;
    white-space: nowrap;
    margin: 0;  
    padding: 0;
}

a {
    color: #F2E5D7; 
    text-decoration: none;
    text-decoration-color: #F2E5D7;
    transition: 300ms ease;
}

a:hover {
    color: #7C886D;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #7C886D;
    transition: 300ms ease;
}

.logo {
    font-size: 2vw;
    white-space: nowrap;
    text-decoration: none;
    color: #F2E5D7;
    cursor: pointer;
}

.logo:hover {
    cursor:pointer;
    text-decoration: none;
}

.links {
    color:#C2B4B4;
}


/* Hamburger Menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    margin-top: 2.5vh;
    top: 50%;
    right: 5vw; 
    transform: translateY(-50%); 
    font-size: 5vw;
    cursor: pointer;
    z-index: 11001;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: relative;
    z-index: 11001;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #F2E5D7;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Overlay */
.hamburger-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 9999;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    z-index: 11002;
}

.close-btn span {
    width: 100%;
    height: 2px;
    background-color: #F2E5D7;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.close-btn span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.close-btn span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}


.hamburger-menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

.hamburger-menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hamburger-menu-links li {
    opacity: 0;
    transform: translateY(20px);
    font-size: 5vw;
    padding: 1.25vh;
    font-size: 4vh;
    color: #F2E5D7;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.hamburger-menu-overlay.active .hamburger-menu-links li {
    opacity: 1;
    transform: translateY(0);
}

.hamburger-menu-overlay.active .hamburger-menu-links li:nth-child(1) {
    transition-delay: 0.2s;
}
.hamburger-menu-overlay.active .hamburger-menu-links li:nth-child(2) {
    transition-delay: 0.4s;
}
.hamburger-menu-overlay.active .hamburger-menu-links li:nth-child(3) {
    transition-delay: 0.6s;
}
.hamburger-menu-overlay.active .hamburger-menu-links li:nth-child(4) {
    transition-delay: 0.8s;
}



/* Sections */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-contatiner {
    display: flex;
}

/* Profile */

#profile {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 45vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Header_Updated_03012023_1145.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #262322;
}

.title {
    font-size: 3vw;
    color: #F2E5D7;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icons */

.icon {
    cursor: pointer;
    height: 2vw;
}

/* Buttons */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 500vw;
    font-size: 0.85vw;
    font-family: Outfit;
    transition: all 300ms ease;
    padding: 1vw;
    width: 8vw;
    border-radius: 2vw;
    border: #262322 0.1rem solid;
    background: #ABB3A0;
    color: #262322;
}


.btn:hover{
    cursor: pointer;
    background:#7C886D;
}

.btn-container {
    gap: 1rem;
}

/* Home Page Brief Info */

.brief-intro{
    background-color: #262322;
}

.brief-boxes {
    display: grid;
    grid-template-columns: 33% 66%;
    align-items: center;
    align-items: flex-start; /* Aligns items to the top */
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
  
.brief-image {
    flex: 1;
    max-width: 100%;
    scale: calc(125%);
    padding-left: 3vw;
    padding-bottom: 3vw;
    transform: scaleX(-1);
}
  
.brief-image img {
    width: 17.5vw;
    height: auto;
    display: block;
    border-radius: 12.5%;
}
  
.brief-text p{
    margin: 1vw;
    font-size: 1.25vw;
}

/* Recent Projects */

#recent-projects {
    height: 65vw;
}

.recent-projects-header-text {
    text-align: center;
    font-size: 1.5vw;
}

.recent-project-parent {
    display: grid;
    grid-template-columns: repeat(3, 25vw); /* 3 equal-width columns */
    gap: 2vw;
    margin-top: 2vw;
    justify-content: center;
}

.recent-project-parent a{
    text-decoration: none;
}

.project-title {
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius: 12.5%;
    background:rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    opacity: 0;
    color: #F2E5D7;
    font-size: 2vw;
    font-weight:500;
    transition: 300ms;
    text-align: center;
}

.project-title:hover {
    opacity: 1;
}



/* Recent Project Displays */

.box1, .box2, .box3, .box4, .box5, .box6 {
    width: 25vw;
    height: 25vw;
    border-radius: 12.5%;
    cursor: pointer;
    transition: 300ms;
    background-size: contain;
}


/* 1 */ .box1 {
    background-image: url(./assets/DBD_Posters/DBDThumbnail.jpg);       /* Update Here */
}
.box1:hover {
    transform: scale(1.05);
}


/* 2 */ .box2 {
    background-image: url(./assets/Clients/VTSU_Wellness/VSTU_Pattern.png);       /* Update Here */
}
.box2:hover {
    transform: scale(1.05);
}


/* 3 */ .box3 {
    background-image: url(./assets/BerryBlue/BerryBluePoster.jpg);       /* Update Here */
    background-size:cover;
    background-repeat: no-repeat;
}
.box3:hover {
    transform: scale(1.05);
}


/* 4 */ .box4 {
    background-image: url(./assets/Clients/Hamlet/HamletThumbnail.jpg);       /* Update Here */
    background-size: cover;
    background-repeat: no-repeat;
}
.box4:hover {
    transform: scale(1.05);
}

/* 5 */ .box5 {
    background-image: url(./assets/CocoCritters/CocoCrittersThumbnail.jpg);       /* Update Here */
    background-size: cover;
    background-repeat: no-repeat;
}
.box5:hover {
    transform: scale(1.05);
}

/* 6 */ .box6 {
    background-image: url(./assets/Clients/StudentVoterDrive/VoterDriveThumbnail.png);       /* Update Here */
    background-size: cover;
    background-repeat: no-repeat;
}
.box6:hover {
    transform: scale(1.05);
}



/* Page Title */

.page_title {
    margin-top: 13vw;
    text-align: center;
}

.page_title_text {
    color: #F2E5D7;
    font-size: 5vw;
}


/* Project Page */

#projectpage {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/ProjectsHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#allprojects {
    height: 170vw;
}

.allprojects-parent {
    display: grid;
    grid-template-columns: repeat(3, 25vw); /* 3 equal-width columns */
    gap: 2vw;
    margin-top: 2vw;
    justify-content: center;
}

.allprojects-parent a{
    text-decoration: none;
}

/* Projects Boxes */

.project1, .project2, .project3, .project4, .project5, .project6, 
.project7, .project8, .project9, .project10, .project11, .project12,
.project13, .project14, .project15, .project16, .project17, .project18{
    width: 25vw;
    height: 25vw;
    border-radius: 12.5%;
    cursor: pointer;
    transition: 300ms;
    background-size: contain;
}


   /* 1 */ .project1 {
        background-image: url(./assets/DBD_Posters/DBDThumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    .project1:hover {
        transform: scale(1.05);
    }
    


     /* 2 */ .project2 {
        background-image: url(./assets/BerryBlue/BerryBluePoster.jpg);       /* Update Here */
        background-size: cover;
    }
    .project2:hover {
        transform: scale(1.05);
    }
    


     /* 3 */ .project3 {
        background-image: url(./assets/Cookbook/CookBookThumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    .project3:hover {
        transform: scale(1.05);
    }



   /* 4 */ .project4 {
        background-image: url(./assets/CocoCritters/CocoCrittersThumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    .project4:hover {
        transform: scale(1.05);
    }



    /* 5 */ .project5 {
        background-image: url(./assets/Planty/PlantyThumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    .project5:hover {
        transform: scale(1.05);
    }



    /* 6 */ .project6 {
        background-image: url(./assets/MagazinePages/CatMagazineThumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    .project6:hover {
        transform: scale(1.05);
    }



    /* 7 */ .project7 {
        background-image: url(./assets/DigitalPaintings/Apple/ApplesThumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    .project7:hover {
        transform: scale(1.05);
    }



    /* 8 */ .project8 {
        background-image: url(./assets/LittleSouls/LittleSoulsThumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    .project8:hover {
        transform: scale(1.05);
    }



    /* 9 */ .project9 {
        background-image: url(./assets/Brochure/BrochureThumbnail.jpg);       /* Update Here */
        background-size: cover;
    }
    .project9:hover {
        transform: scale(1.05);
    }



    /* 10 */ .project10 {
        background-image: url(./assets/OmoriCards/OmoriCardsThumbnail.jpg);       /* Update Here */
        background-size: contain;
    }
    .project10:hover {
        transform: scale(1.05);
    }



    /* 11 */ .project11 {
        background-image: url(./assets/Animated/STAXLogo.gif);       /* Update Here */
        background-size: cover;
        background-position: 60% center;
    }
    .project11:hover {
        transform: scale(1.05);
    }



      /* 12 */ .project12 {
        background-image: url(./assets/HolidayCards/HolidayCardThumbnail.jpg);      /* Update Here */
        background-size: cover;
    }
    
    .project12:hover {
        transform: scale(1.05);
    }



    /* 13 */ .project13 {
        background-image: url(./assets/1Fish/Thumbnail.png);      /* Update Here */
        background-size: cover;
    }

    .project13:hover {
        transform: scale(1.05);
    }



    /* 14 */ .project14 {
        background-image: url(./assets/ContentLab/ContentLabThumbnail.jpg);      /* Update Here */
        background-size: cover;
    }

    .project14:hover {
        transform: scale(1.05);
    }



    /* 15 */ .project15 {
        background-image: url(./assets/Cuppys/CuppyThumbnail.png);      /* Update Here */
        background-size: cover;
    }

    .project15:hover {
        transform: scale(1.05);
    }

    

    /* 16 */ .project16 {
        background-image: url(./assets/VTSUnity/VTSUnityThumbnail.jpg);      /* Update Here */
        background-size: cover;
    }

    .project16:hover {
        transform: scale(1.05);
    }


/* Client Work Page */

#clientworkpage {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/ClientsHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#clientwork {
    height: 65vw;
}

.clientwork-parent {
    display: grid;
    grid-template-columns: repeat(3, 25vw); /* 3 equal-width columns */
    gap: 2vw;
    margin-top: 2vw;
    justify-content: center;
}

.clientwork-parent a{
    text-decoration: none;
}

/* Client Work Boxes */

.client1, .client2, .client3, .client4, .client5, .client6 {
    width: 25vw;
   height: 25vw;
   border-radius: 12.5%;
   cursor: pointer;
   transition: 300ms;
   background-size: contain;
}



/* 1 */ .client1 {
    background-image: url(./assets/Clients/Hamlet/HamletThumbnail.jpg);       /* Update Here */
    background-size: contain;
}    
.client1:hover {
    transform: scale(1.05);
}
    
 /* 2 */ .client2 {
    background-image: url(./assets/Clients/VTSU_Wellness/VSTU_Pattern.png);       /* Update Here */
    background-size: contain;
}    
.client2:hover {
    transform: scale(1.05);
}
    
 /* 3 */ .client3 {
    background-image: url(./assets/Clients/StudentVoterDrive/VoterDriveThumbnail.png);       /* Update Here */
    background-size: cover;
}
.client3:hover {
    transform: scale(1.05);
}

/* 4 */ .client4 {
    background-image: url(./assets/Placeholder.png);       /* Update Here */
    background-size: contain;
}    
.client4:hover {
    transform: scale(1.05);
}
    
 /* 5 */ .client5 {
    background-image: url(./assets/Clients/SustainabilityTeam_EarthDay/EarthDayThumbnail.jpg);       /* Update Here */       /* Update Here */
    background-size: contain;
}    
.client5:hover {
    transform: scale(1.05);
}



/* Project Body Copy */

#projectinfo {
    font-size: 1.25vw;
    color: #F2E5D7;
}

.projectcopy p{
    color: #F2E5D7;
}

.projectcopy a{
    color:#C2B4B4;
    text-decoration: none;
}

.projectcopy a:hover{
    color:#A1AB96;
}

.projectcopy h1{
    font-size:2.5vw;
    text-align:center;
}

.projectcopy img{
    max-width: 40%;
    max-height: 40%;    
    padding: 2vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vw;
    display: block;
    transition: 300ms;
}

.projectcopy img:hover {
    transform: scale(1.05);
    transition: 300ms;
}

.projectcopy table {
    margin: 0;
    padding: 0;
}

/* Berryblue Poster Page */

#berryblue_poster {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/BerryBlue/BerryBlueHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}



/* Planty Page */

#planty {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Planty/PlantyHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.plantycopy p{
    color: #F2E5D7;
}

.plantycopy h1{
    font-size:2.5vw;
    text-align:center;
}

.plantycopy a{
    color:#C2B4B4;
    text-decoration: none;
}

.plantycopy a:hover{
    color: #A1AB96;
}

.plantycopy img{
    max-width: 90%;
    max-height: 90%;
    margin-left:0.25vw;
    margin-right:0.25vw;
    padding-top: 1vw;
    margin-bottom: 1vw;
    transition: 300ms;
}

.plantycopy img:hover {
    transform: scale(1.05);
    transition: 300ms;
}

.plantycopy table{
    padding-bottom:2vw;
}

.plantyimg2 {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 70%;
    padding-left: auto;
    padding-right: auto;
    padding-top:1.5vw;
    padding-bottom: 2vw;
    transition: 300ms;
    cursor:pointer;
}

.plantyimg2:hover{
    transform: scale(1.05);
    transition: 300ms;
}



/* Brochure Page */

#brochure {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Brochure/BrochureHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.brochure img{
    max-width: 95%;
    max-height: 95%;
    margin-left:0.25vw;
    margin-right:0.25vw;
    padding-top: 1vw;
    margin-bottom: 1vw;
    transition: 300ms;
}

.brochure img:hover {
    transform: scale(1.05);
}

.brochure table{
    margin-left: 0.5vw;
}

.brochure2 img{
    margin-left: 0.75vw;
    max-width: 97.5%;
    max-height: 97.5%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    transition: 300ms;
}

.brochure2 img:hover {
    transform: scale(1.05);
}

.MunchBrochure_Mockup h1{
    font-size:2.5vw;
    text-align:center;
}

.MunchBrochure_Mockup img{
    margin-bottom: 0;
    margin-left:auto;
    margin-right:auto;
    max-width: 95%;
    padding-top: 1.25vw;
    padding-bottom: 3vw;
    transition: 300ms;
    display: block;
}

.MunchBrochure_Mockup img:hover{
    transform: scale(1.05);
    transition: 300ms;
}


/* Dead By Daylight Poster Collection */

#dbd_posters {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/DBD_Posters/DBDHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.DBD_Posters td:first-child img{
    float: right;
}

.DBD_Posters td:last-child img{
    float: left;
}

.DBD_Posters img{
    max-width: 75%;
    max-height: 75%;
    padding: 2.5vh;
    transition: 300ms;
    margin: 0;
}

.DBD_Posters img:hover {
    transform: scale(1.05);
}

.DBD_Posters {
    height: 207.5vh;
}



/* Cookbook Pages */

#cookbook {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Cookbook/CookbookHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.CookbookPages img{
    max-width: 90%;
    max-height: 90%;
    transition: 300ms;
    margin: 0;
    padding: 4vh;
}

.Cookbook_Mockup img{
    margin-bottom: 0;
    max-width: 50%;
}



/* CoCoCritters */

#cococritters {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/CocoCritters/CocoCrittersHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* Packaging Section */
.Coco_Package {
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.Coco_Package img{
    display: block;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.Coco_Package img:hover{
    transform: scale(1.05);
    transition: 300ms;
}

.Coco_Package table {
    display: inline-block;
    justify-content: center;
}

/* Render Section */
.Coco_Render img{
    margin: 0 auto;
    display: block;
    transition: 300ms;
    padding-top: 1vw;
    padding-bottom: 2vw;
}

.Coco_Render img:hover{
    transform: scale(1.05);
    transition: 300ms;
}

/*Advertisment Section*/
.Coco_Ads td:first-child img{
    float: right;
}

.Coco_Ads td:last-child img{
    float: left;
}

.Coco_Ads table {
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.Coco_Ads td{
    text-align: center;
    vertical-align: middle;
    padding: 1vw;
}

.Coco_Ads td img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    transition: 300ms;
}

.Coco_Ads img:hover {
    transform: scale(1.05);
    transition: 300ms;
}

.Coco_Ads {
    height: 35vw;
}

.CoCoCritters_Mockup h1{
    font-size:2.5vw;
    text-align:center;
}

.CoCoCritters_Mockup img{
    margin-bottom: 0;
    margin-left:auto;
    margin-right:auto;
    max-width: 50%;
    padding-top: 1.25vw;
    padding-bottom: 3vw;
    transition: 300ms;
    display: block;
}

.CoCoCritters_Mockup img:hover{
    transform: scale(1.05);
    transition: 300ms;
}

/* Magazine Layout */

#magazinepages {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/MagazinePages/MagazineHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.magazinecopy h1{
    font-size:2.5vw;
    text-align:center;
}

.magazinecopy img{
    max-width: 90%;
    max-height: 90%;
    margin-left:0.25vw;
    margin-right:0.25vw;
    padding-top: 1vw;
    margin-bottom: 1vw;
    transition: 300ms;
}

.magazinecopy img:hover {
    transform: scale(1.05);
    transition: 300ms;
}

.magazinecopy table{
    padding-bottom:2vw;
}

.magazineimg2 img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 70%;
    padding-left: auto;
    padding-right: auto;
    padding-top:1.5vw;
    padding-bottom: 2vw;
    transition: 300ms;
    cursor:pointer;
}

.magazineimg2 img:hover{
    transform: scale(1.05);
    transition: 300ms;
}

.CatMagazine_Mockup h1{
    font-size:2.5vw;
    text-align:center;
}

.CatMagazine_Mockup img{
    margin-bottom: 0;
    margin-left:auto;
    margin-right:auto;
    max-width: 70%;
    padding-top: 1.25vw;
    padding-bottom: 3vw;
    transition: 300ms;
    display: block;
}

.CatMagazine_Mockup img:hover{
    transform: scale(1.05);
    transition: 300ms;
}

/* Apple Still Life */

#apples {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/DigitalPaintings/Apple/ApplesHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


.Apples table {
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.Apples td{
    text-align: center;
    vertical-align: middle;
    padding: 1vw;
}

.Apples td img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    transition: 300ms;
}

.Apples img:hover {
    transform: scale(1.05);
    transition: 300ms;
}




/* Omori Playing Cards */

#omori_cards {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/OmoriCards/OmoriCardsHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.OMORIcards1 img{
    max-width: 90%;
    max-height: 90%;
    display: flex;
    margin: auto;
    padding-top: 1vw;
    margin-bottom: 1vw;
    transition: 300ms;
}

.OMORIcards1 img:hover {
    transform: scale(1.05);
    transition: 300ms;
}

.OMORIcards2 img{
    max-width: 90%;
    max-height: 90%;
    display: flex;
    margin: auto;
    padding-top: 1vw;
    margin-bottom: 1vw;
    transition: 300ms;
}

.OMORIcards2 img:hover {
    transform: scale(1.05);
    transition: 300ms;
}



/* STAX */

#stax {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Animated/STAXLogo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10%;
}



/* Little Souls */

#little_souls {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/LittleSouls/LittleSoulsHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* Cuppy's */

#cuppys {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Cuppys/CuppyHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.cuppy_copy p{
    color: #F2E5D7;
}

.cuppy_copy h1{
    font-size:2.5vw;
    text-align:center;
}

.cuppy_copy a{
    color:#C2B4B4;
    text-decoration: none;
}

.cuppy_copy a:hover{
    color: #A1AB96;
}



/* VTSUnity Poster */

#vtsunity_poster {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/VTSUnity/VTSUnityHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.vtsunity_poster img{
    max-width: 90%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
}

.vtsunity_poster table{
    padding-top: 2vw;
    align-items: center;
    align-content: center;
}

.vtsunity_poster h1{
    padding: 1.5vw;
    margin: 0;
    text-align: center;
}



/* Content Lab */

#content_lab {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/ContentLab/ContentLabHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.CCG {
    padding-top: 1vw;
}

.CCG table {
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.CCG td{
    text-align: center;
    vertical-align: middle;
    padding: 1vw;
}

.CCG td img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    transition: 300ms;
}

.CCG img:hover {
    transform: scale(1.05);
    transition: 300ms;
}



/* Holiday Cards */

#holiday_cards {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/HolidayCards/HolidayCardHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.holidaycards_copy p{
    color: #F2E5D7;
}

.holidaycards_copy img {
    display: block;
    margin: auto;
    width: 50vw;
    padding: 1.75vw;
    transition: 300ms;
}

.holidaycards_copy img:hover {
    transform: scale(1.05);
    transition: 300ms;
}

.holidaycard_roughs {
    padding-top: 1vw;
}

.holidaycard_roughs h1{
    text-align: center;
    font-size:2.5vw;
}

.holidaycard_roughs table {
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.holidaycard_roughs td{
    text-align: center;
    vertical-align: middle;
    padding: 1vw;
}

.holidaycard_roughs td img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    transition: 300ms;
}

.holidaycard_roughs img:hover {
    transform: scale(1.05);
    transition: 300ms;
}



/* Hamlet Posters */

#hamlet_poster {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Clients/Hamlet/HamletHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.hamletcopy p{
    padding-bottom:1vw;
}

.hamletcopy h1{
    padding-bottom: 1.5vw;
}

.hamletcopy a:hover{
    text-decoration: none;
}

.hamletcopy img{
    max-width: 75%;
    max-height: 75%;
    padding-top: 1vw;
    margin: 0 1vw;
    transition: 300ms;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3vw;
}

.hamletcopy img:hover {
    transform: scale(1.05);
    transition: 300ms;
}



/* No Text Posters */
.HP_NoText td:first-child img{
    float: right;
}

.HP_NoText td:last-child img{
    float: left;
}

.HP_NoText table {
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.HP_NoText td{
    text-align: center;
    vertical-align: middle;
    padding: 1vw;
}

.HP_NoText td img{
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
    transition: 300ms;
}

.HP_NoText img:hover {
    transform: scale(1.05);
    transition: 300ms;
}

/* Deliverables */
.HP_Deliv td:first-child img{
    float: right;
}

.HP_Deliv td:last-child img{
    float: left;
}

.HP_Deliv table {
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.HP_Deliv td{
    text-align: center;
    vertical-align: middle;
    padding-left: 1vw;
    padding-right: 1vw;
}

.HP_Deliv td img{
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
    transition: 300ms;
}

.HP_Deliv img:hover {
    transform: scale(1.05);
    transition: 300ms;
}



/* VTSU Wellness Center */

#vtsu_wellness {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Clients/VTSU_Wellness/VTSUWellnessHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.wellness-copy p{
    color: #F2E5D7;
}

.wellness-copy h1{
    font-size:2.5vw;
    text-align:center;
}

.wellness-copy a{
    color:#C2B4B4;
}

.wellness-copy a:hover{
    color:#ABB3A0;
    text-decoration: none;
}

.wellness-copy img{
    max-width: 97.5%;
    max-height: 97.5%;
    margin-left:0.25vw;
    margin-right:0.25vw;
    padding-top: 1vw;
    margin-bottom: 1vw;
    transition: 300ms;
}

.wellness-copy img:hover {
    transform: scale(1.05);
    transition: 300ms;
}

.wellness-copy table{
    padding-bottom:2vw;
}



/* Student Voter Drive */

#student_voter_drive {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Clients/StudentVoterDrive/VoterDriveHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.VTSU_VoterDrive1 img {
    max-width: 50%;
    max-height: 50%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin: 0 1vw;
    transition: 300ms;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.VTSU_VoterDrive1 img:hover{
    transform: scale(1.05);
    transition: 300ms;
}

.VTSU_VoterDrive2 img {
    max-width: 75%;
    max-height: 75%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin: 0 1vw;
    transition: 300ms;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.VTSU_VoterDrive2 img:hover{
    transform: scale(1.05);
    transition: 300ms;
}



/* Earth Day Poster */

#earthday25 {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Clients/SustainabilityTeam_EarthDay/EarthDayHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.earthday25_copy img {
    width: 25%;
    height: 25%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin: 0 1vw;
    transition: 300ms;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.earthday25_copy img:hover{
    transform: scale(1.05);
    transition: 300ms;
}

.earthday25_copy a{
    color:#C2B4B4;
}

.earthday25_copy a:hover{
    color:#ABB3A0;
    text-decoration: none;
}

.earthday25_copy2 img {
    width: 35%;
    height: 35%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin: 0 1vw;
    transition: 300ms;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.earthday25_copy2 img:hover{
    transform: scale(1.05);
    transition: 300ms;
}


/* Friends of Castleton Parks & Rec */
#fcpr {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* 1Fish */
#OneFish {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


/* Lego Projects Page */
#legopage {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/LegoHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#legoprojects {
    height: 65vw;
}

.lego-projects-parent {
    display: grid;
    grid-template-columns: repeat(3, 25vw); /* 3 equal-width columns */
    gap: 2vw;
    margin-top: 2vw;
    justify-content: center;
}

.lego-projects-parent a{
    text-decoration: none;
}

/* Lego Project Boxes */

.lego1, .lego2, .lego3, .lego4, .lego5, .lego6 {
    width: 25vw;
   height: 25vw;
   border-radius: 12.5%;
   cursor: pointer;
   transition: 300ms;
   background-size: contain;
}



/* 1 */ .lego1 {
    background-image: url(./assets/LEGO/LegoMinecraft/HouseDiorama/Thumbnail.png);       /* Update Here */
    background-size: contain;
}    
.lego1:hover {
    transform: scale(1.05);
}
    
 /* 2 */ .lego2 {
    background-image: url(./assets/LEGO/Brickheadz/Astarion/AstarionThumbnail.jpg);       /* Update Here */ 
}    
.lego2:hover {
    transform: scale(1.05);
}

 /* 3 */ .lego3 {
    background-image: url(./assets/LEGO/LegoMinecraft/TheBridge/TheBridgeThumbnail.png);       /* Update Here */
    background-size: cover;
}
.lego3:hover {
    transform: scale(1.05);
}

/* 4 */ .lego4 {
    background-image: url(./assets/LEGO/LegoMinecraft/DesertWell/DesertWellThumbnail.png);       /* Update Here */
    background-size: contain;
}    
.lego4:hover {
    transform: scale(1.05);
}
    
 /* 5 */ .lego5 {
    background-image: url(./assets/LEGO/LegoMinecraft/BeeHouse/BeeHouseThumbnail.jpg);       /* Update Here */
    background-size: contain;
}    
.lego5:hover {
    transform: scale(1.05);
}
    
 /* 6 */ .lego6 {
    background-image: url(./assets/LEGO/BillsArt/Thumbnail.jpg);       /* Update Here */
    background-size: cover;
}
.lego6:hover {
    transform: scale(1.05);
}

/* Lego Projects */
.LegoProject_Copy a{
    color:#C2B4B4;
 }
 
 .LegoProject_Copy a:hover{
     color:#7C886D;
     text-decoration: none;
  }
 
 .LegoProject_Copy img{
     max-width: 55%;
     max-height: 55%;
     display: flex;
     padding-top: 1.5vw;
     margin: auto;
     margin-bottom: 1vw;
     transition: 300ms;
 }
 
 .LegoProject_Copy img:hover {
     transform: scale(1.05);
     transition: 300ms;
 }
 
 .LegoProject_Photos img{
     max-width: 90%;
     max-height: 90%;
     display: flex;
     margin: auto;
     padding-top: 1.5vw;
     margin-bottom: 1vw;
     transition: 300ms;
 }
 
 .LegoProject_Photos img:hover {
     transform: scale(1.05);
     transition: 300ms;
 }
 
 .LegoProject_Photos table{
     padding-bottom: 1vw;
 }

 

/* Astarion Brickheadz */
#astarionbrickheadz {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/LEGO/Brickheadz/Astarion/AstarionHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* Minecraft House Diorama */
#housediorama {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/LEGO/LegoMinecraft/HouseDiorama/DisplayHouseHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* The Bridge */
#the-bridge {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/LEGO/LegoMinecraft/TheBridge/TheBridgeHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* Desert Well */
#desertwell {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/LEGO/LegoMinecraft/DesertWell/DesertWellHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* Bee House (Game Scale) */
#bee-house {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/LEGO/LegoMinecraft/BeeHouse/BeeHouseHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* Buffalo Bills Wall Art */
#bills-art {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/LEGO/BillsArt/BillsArtHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}




/* FIlms Page */
#filmpage {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/Placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#films {
    height: 65vw;
}

/* Film Boxes*/
.film1, .film2, .film3{
    width: 25vw;
   height: 25vw;
   border-radius: 12.5%;
   cursor: pointer;
   transition: 300ms;
   background-size: contain;
}



/* 1 */ .film1 {
    background-image: url(./assets/Placeholder.png);       /* Update Here */
    background-size: contain;
}    
.film1:hover {
    transform: scale(1.05);
}
    
 /* 2 */ .film2 {
    background-image: url(./assets/Placeholder.png);       /* Update Here */ 
}    
.film2:hover {
    transform: scale(1.05);
}

 /* 3 */ .film3 {
    background-image: url(./assets/Placeholder.png);       /* Update Here */
    background-size: cover;
}
.film3:hover {
    transform: scale(1.05);
}



/* Image Enlargement Overlay */

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s;
    z-index: 1000; 
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.overlay img {
    max-width: 80%;
    max-height: 80%;
}



/* About Me */

#about {                                               /* Background Image */
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/AboutMeHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#about_copy {
    background-color: #534e46;
    font-size: 1.25vw;
    color: #F2E5D7;
    padding-bottom: 0;
    height: 10vh;
}


/* Form */

.contact-form {
    background-color: #534e46;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .contact-form label {
    color: #F2E5D7;
  }
  
  .contact-form .heading {
    font-size: 2.5vw;
    color: #F2E5D7;
    margin-bottom: .25vw;
    font-weight:550;
    display: block;
    text-align: center;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 1vw;
  }
  
  textarea {
    resize: none;
    align-items: center;
    color:#000000;
    margin-left: auto;
    margin-right: auto;
    font-family: Outfit;
    padding: 10px;
    border: none;
    height: 5vw;
    width: 30vw;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #F2E5D7;
    font-family: Outfit;
  }

  .form__contact {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: inline-block;
  }
  
  .contact-form input {
    padding: 10px;
    border: none;
    height: 1vw;
    width: 30vw;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #F2E5D7;
    font-family: Outfit;
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #E5DFE5;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    font-family: Outfit;
  }
  
  .contact-form button[type="submit"] {
    background-color: #F2E5D7;
    color: #262322;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: Outfit;
    font-weight: 600;
  }
  
  .contact-form button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }




/* Footer */



footer{
    background-color:#262322;
}

.footer-container{
    width: 100%;
    margin:auto;
    background-color:#262322;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    background-color:#F2E5D7;
    margin-top: 1.5vw;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
    border-radius: 100%;
}

.socialIcons a i{
    font-size: 1.5vw;
    padding: .75vw;
    color:#262322;
    opacity: 1;
}

.socialIcons a:hover{
    background-color: #7C886D;
    transition: 300ms;
    border-radius: 50%;
}

.footerNav{
    margin: 1vw;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color: #F2E5D7;
    margin: 2vw;
    text-decoration: none;
    font-size: 1vw;
    transition: 300ms;
}

.footerNav ul li a:hover{
    color: #7C886D;
    margin: 2vw;
    text-decoration: none;
    font-size: 1vw;
    opacity: 1;
    transition: 300ms;
}

.footerBottom{
    background-color: #262322;
    padding: 2vw;
    text-align: center;
}

.footerBottom p{
    color: #F2E5D7;
    font-size: 0.75vw;
}